<html>

<head>
  <title>Reading List Admin</title>
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="style.css">
  <script src="app.js" async></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" >
</head>

<body>
  <div id="app">
    <div class="menu">
      {{ if .CurrentItem -}}
      {{ template "edit-menu.html" . -}}
      {{ else }}
      {{ template "list-menu.html" . -}}
      {{ end }}
    </div>

    <div class="main">
      {{ if .CurrentItem -}}
      {{ template "edit-body.html" . -}}
      {{ else -}}
      {{ template "list-body.html" . -}}
      {{ end }}
    </div>
  </div>
</body>

</html>