@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.menu {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: teal;
  color: white;
  padding: 0.5em;

  display: flex;
  flex-direction: row;
}

.filler {
  flex-grow: 2;
}

.menu-right {
  text-align: right;
}

.main {
  flex-grow: 1;
  background-color: lightsteelblue;
  overflow-y: scroll;
  width: 100%;
}

#listItems {
  flex-grow: 1;
  background-color: lightsteelblue;
  overflow-y: scroll;
  width: 100%;
}

.listItem {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.listItem .itemInfo {
  flex-grow: 1;
  padding: 2pt;
}

.itemEdit {
  flex-grow: 0;
}

.listItem .visibilityInfo {
  text-align: center;
  margin: 2pt;
  padding: 2pt;
}

form.entryEdit {
  height: 100%;
  margin: 2pt;
}
button.editButton {
  height: 100%;
  font-size: larger;
}

form.menu {
  display: inline;
}

.menuButton {
  /* Aligning buttons properly:
  https://codyhouse.co/blog/post/vertical-text-alignment-in-buttons-and-inputs
  */
  padding: 0;
  border: 0;
  appearance: none;
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5em;
}

.statusBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  font-size: smaller;
}
.statusBar.workingState {
  background-color: lightgoldenrodyellow;
  color: black;
}
.statusBar.errorState {
  background-color: crimson;
  color: white;
}
.statusBar.okState {
  background-color: greenyellow;
  color: black;
}

.invisible {
  visibility: hidden;
}

.editArea label {
  clear: left;
}