<div id="editArea">
  <form id="editForm" method="POST" action="{{ .Paths.Save }}" autocomplete="off">
    <details open="true">
      <summary>Main content</summary>

      <table>
        <tr>
          <td> <label for="id">ID: </label></td>
          <td>
            <input type="text" id="id" name="id" placeholder="hearts-automaton" value="{{ .CurrentItem.Id }}"
              {{- if .CurrentItem.Id }} readonly {{ end }} />
          </td>
        </tr>
        <tr>
          <td><label for="title">Title: </label></td>
          <td><input type="text" id="title" name="title" placeholder="An Automaton of Hearts" value="{{ .CurrentItem.Title }}" /></td>
        </tr>

        <tr>
          <td><label for="source">At: </label></td>
          <td><input type="text" id="source" name="source" placeholder="@happyautomata on Twitter"
              value="{{ .CurrentItem.Source.Text }}" /></td>
        </tr>

        <tr>
          <td><label for="source-url">URL: </label></td>
          <td><input type="url" id="source-url" name="source-url" placeholder="https://twitter.com/happyautomata/status/1422047515302522883"
              value="{{ .CurrentItem.Source.UrlString}}" />
          </td>
        </tr>

      </table>

      <label for="summary">Summary:</label>
      <textarea name="summary" id="summary" form="editForm" placeholder="This is what the article means...">
        {{- .CurrentItem.Summary -}}
      </textarea>

    </details>

    <details>
      <summary>Reading state</summary>

      <table>
        <tr>
          <td><label for="added">Added: </label></td>
          <td><input type="date" id="added" name="added" placeholder="Added" value="{{ .CurrentItem.Added | orToday }}" /></td>
          <td></td>
        </tr>
        <tr>
          <td><label for="read">Read: </label></td>
          <td><input type="date" id="read" name="read" placeholder="Read"
              {{ if not .CurrentItem.Read.IsZero -}}
              value="{{ .CurrentItem.Read | maybeDate }}"
              {{- end }} />
        </tr>
        <tr>
          <td><label for="reviewed">Reviewed: </label></td>
          <td><input type="date" id="Reviewed" name="Reviewed" placeholder="Read"
              {{ if not .CurrentItem.Reviewed.IsZero -}}
              value="{{ .CurrentItem.Reviewed | maybeDate }}"
              {{- end }} />
        </tr>
      </table>
    </details>

    <details>
      <summary>Author</summary>
      <table>
        <tr>
          <td><label for="author">By: </label></td>
          <td><input type="text" id="author" name="author" placeholder="Charles Eckman"
              {{- if .CurrentItem.Author }} value="{{ .CurrentItem.Author.Text }}"{{ end }} /></td>
        </tr>

        <tr>
          <td><label for="author-url">At URL: </label></td>
          <td><input type="text" id="author-url" name="author-url" placeholder="https://cceckman.com"
              {{- if .CurrentItem.Author }}value="{{ .CurrentItem.Author.UrlString }}"{{ end }} /></td>
        </tr>
      </table>
    </details>

    <details>
      <summary>Discovery</summary>
      <table>
        <tr>
          <td><label for="discovery">Found via: </label></td>
          <td><input type="text" id="discovery" name="discovery" placeholder="Charles Eckman on Twitter"
              {{- if .CurrentItem.Discovery }} value="{{ .CurrentItem.Discovery.Text }}"{{ end }} /></td>
        </tr>

        <tr>
          <td><label for="discovery-url">At URL: </label></td>
          <td><input type="text" id="discovery-url" name="discovery-url" placeholder="https://twitter.com/cceckman"
              {{- if .CurrentItem.Discovery }}value="{{ .CurrentItem.Discovery.UrlString }}"{{ end }} /></td>
        </tr>
      </table>
    </details>



  </form>
</div>