<table id="listItems">
  {{ $editPath := .Paths.Edit -}}
  {{ range .ListItems }}
  <tr class="startRow">
    <td>&#x2757;</td>
    <td>{{ maybeDate .Added }}</td>
    <td rowspan="3" class="itemInfo">
      <h2>
        {{ if .Source.UrlString -}}
        <a href="{{ .Source.UrlString }}" target="_blank">{{ .Title }}</a>
        {{ else -}}
        {{ .Title -}}
        {{ end }}
      </h2>
      <h3><i>from</i> {{ .Source.Text -}}</h3>
      <p>{{ if .Author }}<i>by</i> {{ template "source.html" .Author }}{{ end }}</p>
      <p>{{ if .Discovery }}<i>via</i> {{ template "source.html" .Discovery }}{{ end }}</p>
      <!-- TODO: Other metadata? -->
    </td>
    <td rowspan="3">
      <div class="entryEdit">
        <form method="get" action="{{ $editPath }}">
          <input slot="originalId" type="hidden" name="id" value="{{ .Id }}" />
          <button class="editButton">&#128393;</button>
        </form>
      </div>
    </td>
  </tr>
  <tr>
    <td>&#128366;</td>
    <td>
      {{ maybeDate .Read }}
    </td>
  </tr>
  <tr>
    <td>&#128393;</td>
    <td>
      {{ maybeDate .Reviewed }}
    </td>
  </tr>
  {{ end }}
</table>