<template id="listItem">
  <link rel="stylesheet" href="style.css">
  <div class="listItem">
    <table class="visibilityInfo">
      <tr>
        <td>&#x2757;</td>
        <td>
          <slot name="discoveredDate">&mdash;</slot>
        </td>
      </tr>
      <tr>
        <td>&#128366;</td>
        <td>
          <slot name="readDate">&mdash;</slot>
        </td>
      </tr>
      <tr>
        <td>&#128393;</td>
        <td>
          <slot name="revieweddate">&mdash;</slot>
        </td>
      </tr>
    </table>
    <div class="itemInfo">
      <h2>
        <slot name="title">[Item Title]</slot>
      </h2>
      <h3>
        <slot name="source">[Item Source]</slot>
      </h3>
      <!-- TODO: Other metadata? -->
    </div>
    <form method="get">
      <slot name="originalId"></slot>
      <button class="editButton" name="Edit">&#128393;</button>
    </form>
  </div>
</template>

{{ range .ListItems }}
<list-item>
  <span slot="discoveredDate">{{ .Added }}</span>
  <span slot="readDate">
    {{ if .Read.IsZero }}&mdash;
    {{- else }}{{ .Read }}{{ end }}
  </span>
  <span slot="discoveredDate">
    {{ if .Reviewed.IsZero }}&mdash;
    {{- else }}{{ .Reviewed }}{{ end }}
  </span>
  <span slot="title">{{ .Title }}</span>
  <span slot="source">
    {{ if .Source.UrlString -}}
      <a href="{{ .Source.UrlString }}" target="_blank">{{ .Source.Text}}</a>
    {{ else -}}
    {{ .Source.Text -}}
    {{ end }}
  </span>
</list-item>
{{ end }}